<div class="close-btn">
    <button type="button" class="btn btn-icon btn-sm btn-neutral text-default close-icon mt-3" aria-label="Close"
        (click)="closeModal()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
</div>

<ng-container>
    <div class="card profile-card border-0">
        <h3 class="mb-5 ml-4">All Addresses</h3>
        <div class="card-body">
            <div class="row" *ngIf="addressData?.length>0;else noData">
                <div class="col-md-6" *ngFor="let item of addressData">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title mb-3"><b>Type:</b> {{ item.type | titlecase }}</h5>
                            <h5 class="card-title mb-3"><b>House no:</b> {{ item.houseNo | titlecase }}</h5>
                            <h5 class="card-title mb-3"><b>Address:</b> {{ item.address }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #noData>
                <div class="text-center mt-3">
                    <h3>No Address Found</h3>
                </div>
            </ng-template>
        </div>
    </div>
</ng-container>