<div class="container-fluid animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">
          <h3 class="mb-0">Purchased Plan List</h3>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row mb-2">
        <div class="col-4 mar">
          <form class="d-flex">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search"
                [(ngModel)]="search" [ngModelOptions]="{ standalone: true }"
                (keyup)="refreshList('search')" />
            <div class="col-auto">
                <button type="button" type="submit" (click)="refreshList('clear')"
                    class="btn btn-outline-danger">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                </button>
            </div>
        </form>
        </div>
      </div>
      <div class="table-responsive text-nowrap">
        <table class="table table-striped table-hover table-bordered table-sticky">
          <thead class="table-primary">
            <tr>
              <th>Sr.No.</th>
              <th>Name</th>
              <th>Mobile No.</th>
              <th>Amount</th>
              <th>Payment Method</th>
              <th>Slot</th>
              <th>Plan Type</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Status</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableData; let i = index">
              <td>
                {{ pageSize * (page - 1) + (i + 1) }}
              </td>
              <td>
                {{ item.user.firstName + " " + item.user.lastName | titlecase }}
              </td>
              <td>
                {{ item.user.mobileNumber }}
              </td>
              <td>
                {{ item.amount }}
              </td>
              <td>
                {{ item?.paymentInstrument?.type }}
              </td>
              <td>{{ item?.userPlanPurchase?.slot ? item?.userPlanPurchase?.slot:'-'}}</td>
              <td> {{ item?.userPlanPurchase?.planType ? item?.userPlanPurchase?.planType :
                (item?.userSubscriptionPricingPlan?.planType | titlecase) }}
              </td>

              <td>
                {{ item?.startDate ? (item.startDate | date : "dd/MM/yyyy") : '-' }}
              </td>

              <td>
                {{ item?.endDate ? (item.endDate | date : "dd/MM/yyyy") : '-' }}
              </td>

              <td>{{ item?.state }}</td>
              <td>{{ item?.createdAt | date : "dd/MM/yyyy hh:mm a" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-custom-pagination [(page)]="page" [(pageSize)]="pageSize" [(collection)]="collection"
        (myOutput)="onChangePage(page)"></app-custom-pagination>
    </div>
  </div>
</div>