<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
        <a ngbNavLink>Porter New Request</a>
        <ng-template ngbNavContent>
            <div class="container-fluid animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-auto">
                                <h3 class="mb-0">Porter Request List</h3>
                            </div>
                            <div class="col-auto">
                                <button type="button" ngbTooltip="Door To Door Service Orders" placement="bottom"
                                    (click)="navigateToOrder()" class="btn btn-outline-primary">
                                    Orders
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-md-5">
                                <form class="d-flex">
                                    <input class="form-control" type="text" placeholder="Search" aria-label="Search"
                                        [(ngModel)]="search" [ngModelOptions]="{ standalone: true }"
                                        (keyup)="refreshList('search')" />
                                    <div class="col-auto">
                                        <button type="button" type="submit" (click)="refreshList('clear')"
                                            class="btn btn-outline-danger">
                                            <i class="fa fa-filter" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>


                        <div class="table-responsive text-nowrap">
                            <table class="table table-striped table-hover table-bordered table-sticky">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Sr.No.</th>
                                        <th>ShopName</th>
                                        <th>Porter Service</th>
                                        <th>Created At</th>
                                        <th>View GST Certificate</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of porterDServiceList; let i = index">
                                        <td>{{ pageSize * (page - 1) + (i + 1) }}</td>

                                        <td>{{ item.shopName | titlecase }}</td>
                                        <td *ngIf="item?.deliveryService?.isPorterRequest!='accepted'">{{
                                            item?.deliveryService?.isPorterService ? 'Porter Request': "" }}</td>


                                        <td *ngIf="item?.deliveryService?.isPorterRequest=='accepted'">
                                            {{ item?.deliveryService?.isPorterRequest=='accepted'?
                                            'Accepted':'Pending'}}
                                        </td>
                                        <td>{{item.deliveryService?.dateAndTime | date:"dd/MM/yyyy hh:mm a"}}</td>

                                        <td>
                                            <div class="text-center">
                                                <a href="{{item?.deliveryService?.GSTCertificate}}" target="_blank">
                                                    <img class="avatar" src="{{item?.deliveryService?.GSTCertificate}}"
                                                      >
                                                </a>
                                            </div>
                                        </td>

                                        <td (click)="navigateTo(item._id,'porterRequest')">Update</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <app-custom-pagination [(page)]="page" [(pageSize)]="pageSize" [(collection)]="collection"
                            (myOutput)="onChangePage(page)"></app-custom-pagination>
                    </div>
                </div>
            </div>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink>Porter Deactivation Request</a>
        <ng-template ngbNavContent>
            <div class="container-fluid animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-auto">
                                <h3 class="mb-0">Porter Deactivation List</h3>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="col-md-5">
                            <form class="d-flex">
                                <input class="form-control" type="text" placeholder="Search" aria-label="Search"
                                    [(ngModel)]="search" [ngModelOptions]="{ standalone: true }"
                                    (keyup)="refreshList('search')" />
                                <div class="col-auto">
                                    <button type="button" type="submit" (click)="refreshList('clear')"
                                        class="btn btn-outline-danger">
                                        <i class="fa fa-filter" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="table-responsive text-nowrap">
                    <table class="table table-striped table-hover table-bordered table-sticky">
                        <thead class="table-primary">
                            <tr>
                                <th>Sr.No.</th>
                                <th>ShopName</th>
                                <th>Reason</th>
                                <th>Status</th>
                                <!-- <th>Created At</th> -->
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of porterDeactivationList; let i = index">
                                <td>{{ pageSize * (page - 1) + (i + 1) }}</td>

                                <td>{{ item.shopName | titlecase }}</td>
                                <td>
                                    {{ item.porterReason | titlecase }}
                                </td>
                                <td>
                                    {{ item?.deliveryService?.isPorterService? 'Activated':'Deactivated'}}
                                </td>
                                <!-- <td>{{item.deliveryService?.DateAndTime | date:"dd/MM/yyyy hh:mm a"}}</td> -->


                                <td (click)="view(item._id)">
                                    Change
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <app-custom-pagination [(page)]="page" [(pageSize)]="pageSize" [(collection)]="collection"
                    (myOutput)="onChangePage(page)"></app-custom-pagination>
            </div>

        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>