<div class="container-fluid animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row justify-content-between align-items-center">
        <div class="col-4">
          <h3 class="mb-0">Onboard Business</h3>
        </div>
        <div class="col-8">
          <div class="text-right">
            <button type="button" (click)="inValidShop()" class="btn btn-outline-primary mr-2">
              <i class="fa fa-users" aria-hidden="true"></i>
              Incomplete Business List
            </button>
            <button type="button" (click)="exportBusinessType()" class="btn btn-outline-primary mr-2">
              <i class="fa fa-download"></i>
              Business Type
            </button>
            <button type="button" (click)="exportCategoryAndSubCategory()" class="btn btn-outline-primary mr-2">
              <i class="fa fa-download"></i>
              Category & Sub Category
            </button>
            <button type="button" (click)="openBulkUpload()" class="btn btn-outline-primary ">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              Bulk upload Business
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row mb-2 justify-content-between">
        <div class="col-5">
          <form class="d-flex">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="search"
              [ngModelOptions]="{ standalone: true }" (keyup)="getAll()" />
            <div class="ml-2">
              <button type="button" type="submit" (click)="refreshList('clear')" class="btn btn-outline-danger">
                <i class="fa fa-filter" aria-hidden="true"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="col-4 d-flex align-items-center">
          <h6 class="m-0">Total Record : {{this.collection}}</h6>
        </div>
        <div class="col-3 d-flex justify-content-end">
          <button type="button" (click)="getAll()" type="submit" class="btn btn-outline-danger">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="table-responsive text-nowrap">
        <table class="table table-striped table-hover table-sticky">
          <thead class="table-primary">
            <tr>
              <th>Sr.No</th>
              <th>Profile picture</th>
              <th>Banner Image</th>
              <th>Business Name</th>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile No.</th>
              <th>Address</th>
              <th>Status</th>
              <th>Is Lat/Long</th>
              <th>Created At</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of onboardShopList;else noData let i = index">
              <td (click)="view(item)">{{ pageSize * (page - 1) + (i + 1) }}</td>

              <td (click)="view(item)">
                <div class="text-center">
                  <img class="avatar" [src]="item?.profilePicture || 'assets/img/placeholder_product.svg'" />
                </div>
              </td>
              <td (click)="view(item)">
                <div class="text-center">
                  <img class="avatar"
                    [src]="item?.shopDetails?.bannerImages || 'assets/img/placeholder_product.svg' " />

                </div>
              </td>
              <td (click)="view(item)">{{ item?.shopDetails?.shopName | titlecase }}</td>
              <td (click)="view(item)">{{ item?.firstName | titlecase }} {{ item?.lastName | titlecase }}</td>
              <td (click)="view(item)"> {{ item?.email }}</td>
              <td (click)="view(item)">{{ item?.mobileNumber }}</td>
              <td (click)="view(item)" class="address">{{ item?.address?.line1 }} {{ item?.address?.line2 }} {{
                item.address.city }} {{ item?.address?.state }} {{ item?.address?.country }} {{ item?.address?.pinCode
                }}</td>
              <td (click)="view(item)">{{ item.shopDetails?.status | titlecase }}</td>
              <td (click)="view(item)">{{ item.shopDetails?.location?.coordinates?'Yes':"No" | titlecase }}
              </td>
              <td>{{ item.createdAt | date:"dd/MM/yyyy hh:mm a" }}</td>

              <td>
                <div class="col">
                  <div ngbDropdown container="body">
                    <button ngbDropdownToggle id="dropdownBasic1"
                      class="btn btn-icon btn-2 btn-sm btn-neutral text-default" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-ellipsis-v text-danger"
                          aria-hidden="true"></i></span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem class="btn btn-sm btn-outline-warning me-1" (click)="view(item)">
                        <i class="fa fa-pencil-square text-danger" aria-hidden="true"></i>Edit
                      </button>
                      <button ngbDropdownItem class="btn btn-sm btn-outline-danger" (click)="open(item, alertMsg)"><i
                          class="fa fa-trash text-danger"></i>Delete</button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-custom-pagination [(page)]="page" [(pageSize)]="pageSize" [(collection)]="collection"
        (myOutput)="onChangePage(page)"></app-custom-pagination>
    </div>
  </div>
</div>
<ng-template #alertMsg let-modal>
  <div class="row mt-3 me-3">
    <div class="col-md-10 col-sm-10"></div>
    <div class="col-md-2 col-sm-2 text-right">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body text-center px-0">
    <h5 class="text-warning">
      <img src="../../../../assets/img/warning.png" class="mr-3 delete-icon" alt="" />
      Are you sure you want to Delete ?
    </h5>
    <div class="clearfix modal-text">
      <label *ngIf="selectedRow.shopName">
        <h5>{{ selectedRow.shopName }}</h5>
      </label>
    </div>
  </div>
  <div class="model-footer border-0 text-center px-0 pb-4">
    <div class="clearfix py-2">
      <button class="btn btn-danger me-2" (click)="delete(this.selectedRow._id)">
        OK
      </button>
      <button class="btn btn-success" (click)="modal.dismiss('Cross click')">
        Cancel
      </button>
    </div>
  </div>
</ng-template>