<div class="container-fluid animated fadeIn">
  <div class="card shadow-sm">
    <div class="card-header">
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">
          <h3 class="mb-0">Business Form</h3>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-danger" (click)="goBack()">
            <i class="fa fa-arrow-left me-1" aria-hidden="true"></i>
            Back
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="businessForm" class="form-horizontal">

        <div class="row">
          <div class="form-group">
            <label>Business Type</label>
            <span class="text-danger">*</span>
            <div class="input-group input-group-alternative">
              <input type="text" class="form-control" formControlName="name" placeholder="Enter name" />
            </div>
            <div class="text-left" *ngFor="let error of errorMessages.name">
              <ng-container *ngIf="form.name.hasError(error.type) && (form.name.dirty || form.name.touched)">
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Description</label>
            <div class="input-group input-group-alternative">
              <input type="text" class="form-control" formControlName="description" placeholder="Enter  description" />
            </div>
            <div class="text-left" *ngFor="let error of errorMessages.description">
              <ng-container
                *ngIf="form.description.hasError(error.type) && (form.description.dirty || form.description.touched)">
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-9 pt-3" *ngIf="!form.image.value">
                <div class="form-group satFat-logoBody">
                  <label for="companyLogo">Upload Image</label>
                  <ngx-file-drop class="ngx-fileDropBody" dropZoneClassName="satFat-dropZoneBody imgBorderYes"
                    contentClassName="satFat-contentBody" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
                    (onFileLeave)="fileLeave($event)" accept="image/jpeg, image/png">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                      <div class="align-self-center"></div>

                      <div class="imgNone d-flex flex-column text-center">
                        <div class="cloudIcon">
                          <i class="fa fa-cloud-upload"></i>
                        </div>
                        Upload File (Drag & Drop)
                        <div class="text-dark">OR</div>
                        <button type="button" (click)="openFileSelector()">
                          Browse File
                        </button>
                      </div>
                    </ng-template>
                  </ngx-file-drop>
                </div>
              </div>

              <div class="col-md-3 text-center align-self-center" *ngIf="form.image.value;">
                <i (click)="removeUploadedImage()" class="delete-badge fa fa-trash shadow-sm"></i>
                <img [src]="form.image.value" class="img-fluid img-size" />
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="mb-2 text-center">
        <button type="button" class="btn btn-success" *ngIf="!this.businessForm.value.id" (click)="create()">
          Save
        </button>
        <button type="button" class="btn btn-success" *ngIf="this.businessForm.value.id" (click)="update()">
          Update
        </button>
        <button type="button" class="btn btn-outline-danger mx-2" (click)="goBack()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>