#page-container {
	min-height: 74vh;
}

.ov-scroll {
	overflow-x: auto;
	overflow-y: hidden;
}

.card-top-image {
	height: 120px !important;
	object-fit: cover;
}

.font {
	font-weight: bold;
}

.clearfix{
	overflow-x: auto;

}

